/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 * VARIABLES
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

// COLORS ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// 👁👁 To use var from map: map-get($map, $key)
$colors: 
(
	black: #030303,
	white: #ffffff,

	// Orange

	// GRAY
	gray-very-light: #f8f8f8,

	// RED
	red-strong: #cd201f,

);
		
// FONT ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$font-body-family: "Open Sans", sans-serif;
$font-title-family: "Oswald", sans-serif;
$base-font-size: 18px;
$base-line-height: (32/18);

$font-weight: 
(
	extralight: 100,
	light: 300,
	book: 300,
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	extrablack: 900
);

// LAYOUT ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$psd-width: 1200px;
$container-width: 1496px;
$gutter-width: 4rem;

// TRANSITION ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$ease-transition: .3s ease;

// MISCELLANEOUS –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$fonts-dir: "../../fonts/";
$img-dir: "../../img/";
$svg-dir: "../../img/svg/";
$jpg-dir: "../../img/jpg/";
$png-dir: "../../img/png/";

// RESPONSIVE ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Breakpoint slicer https://github.com/lolmaus/breakpoint-slicer
$slicer-breakpoints: 0 768px 992px 1200px 1400px;
$slicer-breakpoint-names: 'xs' 'sm' 'md' 'lg' 'hd';
$slicer-anti-overlap-corrections: -1px;

// GRID ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// NAMESPACE –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
$namespaces:
(
	home: home,
	page: page,
	blog: blog,
	site: site,
);